# directories
.github
.gitlab
.vscode
coverage
docs
/src/

# files
.babelrc
.editorconfig
.eslintrc
.gitattributes
.gitignore
.gitlab-ci.yml
.prettierrc.yml
.swcrc
jest.config.js
tsconfig.*
tsup.config.ts
*.log
